<h1>Cadastros</h1>
<nav id="navbar">
    <ul>
        <li><a class="menu-cadastro" href="/clients">Clientes</a></li>
        <li><a class="menu-cadastro" href="/stages">Estágios</a></li>
        <li><a class="menu-cadastro" href="/materials">Materiais</a></li>
        <li><a class="menu-cadastro" href="/papers">Papéis</a></li>
        <li><a class="menu-cadastro" href="/providers">Fornecedores</a></li>
        <li><a class="menu-cadastro" href="/machines">Máquinas</a></li>
        <li><a class="menu-cadastro" href="/inputs">Insumos</a></li>    
        <li><a class="menu-cadastro" href="/printers">Impressoras</a></li>       
        <li><a class="menu-cadastro" href="/tatics">Processos</a></li>
    </ul>       