<!DOCTYPE html>
<html>
    <link rel="icon" type="imagem/x-icon" href="../images/calcsystem_icone.png" />
<head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    <title>Calc System 1.0</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <script src='js/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/select2/dist/js/select2.min.js"></script>
</head>
<body>
    <img class="logo" src="../images/calcsystem_logo.png">
    <nav id="navbar">
        <ul id="ul-menu">
            <li><a class="menu" href="/products">Produtos</a></li>
            <li><a class="menu" href="/orders">Pedidos</a></li>
            <li><a class="menu" href="/budgets">Orçamentos</a></li>
            <li><a class="menu" href="/registrations">Cadastros</a>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>