<H1>Cadastro de Estágio</H1>
<div class="actions">
    <a href="/stages"><span class="material-symbols-outlined">
undo
</span></a>
</div> 
<form action="/insertstage" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Nome do estágio">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Descrição do estágio">
    </div>
    <input type="submit" value="Cadastrar">
</form>
