<div id="stage-page">
    <div class="container">
        <div class="actions">
            <a href="/stages"><span class="material-symbols-outlined">arrow_back</span></a>
            <a href="/stageedit/{{stage.id}}"><i><span class="material-symbols-outlined">edit</span></i></a>
            <a href="/stages/remove/{{stage.id}}"><i><span class="material-symbols-outlined">delete</span></i></a>
        </div>
        <h1>{{stage.name}}</h1>
        <p>Descrição: {{stage.description}}</p>
    </div>
</div>