<div id="stage-page">
    <div class="container">
        <div class="actions">
            <a title="Voltar" href="/stages"><span class="material-symbols-outlined">undo</span></a>
            <a title="Editar" href="/stageedit/{{stage.id}}"><i><span class="material-symbols-outlined">edit</span></i></a>
            <a title="Remover" href="/stages/remove/{{stage.id}}"><i><span class="material-symbols-outlined">delete</span></i></a>
        </div>
        <h1>{{stage.name}}</h1>
        <p>Descrição: {{stage.description}}</p>
    </div>
</div>