<h1>Cadastro de Impressora</h1>
<div class="actions">
    <a href="/printers"><span class="material-symbols-outlined">arrow_back</span></a>
</div> 
<form action="/insertprinter" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="float" name="description" placeholder="Descrição da máquina">
    </div>
    <div class="form-control">
        <label for="preparation_time">Tempo de preparação:</label>
        <input type="text" name="preparation_time" placeholder="Digite o Tempo de preparação">
    </div>
    <div class="form-control">
        <label for="width">Largura Mídia:</label>
        <input type="float" name="width" placeholder="Digite a largura máxima">
    </div>
    <div class="form-control">
        <label for="height">Altura da Mídia:</label>
        <input type="float" name="height" placeholder="Digite o comprimento máximo">
    </div>
    <div>
        <input type="radio" id='false' name="color" value=0>
        <label for="false">Monocromática</label>
        <input type="radio" id='true' name="color" value=1>
        <label for="true">Colorida</label>
    </div>
    <div class="form-control">
        <label for="min_grammage">Gramatura mínima:</label>
        <input type="text" name="min_grammage" placeholder="Informe a gramatura mínima">
    </div>  
    <div class="form-control">
        <label for="max_grammage">Gramatura máxima:</label>
        <input type="text" name="max_grammage" placeholder="Informe a gramatura máxima">
    </div>  
    <div class="form-control">
        <label for="hour_price">Valor Hora Máquina:</label>
        <input type="text" name="hour_price" placeholder="Informe o valor Hora R$">
    </div>    
    <input type="submit" value="Cadastrar">
</form>