<h1>Cadastro de Processo</h1>
<div class="actions">
    <a href="/tatics"><span class="material-symbols-outlined">arrow_back</span></a>
</div> 
<form action="/inserttatic" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Digite a descrição">
    </div>
    <div class="form-control">
        <label for="minimun_value">Valor Mínimo:</label>
        <input type="text" name="minimun_value" placeholder="Digite o valor mínimo" onkeypress="$(this).mask('R$ #.##0,00', {reverse: true});">
    </div>
    <div class="form-control">
        <label for="preparation_time">Tempo de preparação:</label>
        <input type="text" name="preparation_time" placeholder="Digite o tempo em minutos">
    </div>
    <div class="form-control">
        <label for="loss">Perda Mínima:</label>
        <input type="text" name="loss" placeholder="Digite a quantidade">
    </div>
    <div class="form-control">
        <label for="capacity">Capacidade:</label>
        <input type="text" name="capacity" placeholder="Digite a capacidade por hora">
    </div>
    <div class="form-control">
        <label for="price">Valor:</label>
        <input type="text" name="price" placeholder="Digite o valor hora" onkeypress="$(this).mask('R$ #.##0,00', {reverse: true});">
    </div>
    <div class="form-control">
    <input type="submit" value="Cadastrar">
    </div>
</form>
