<H1>Cadastro de Papel</H1>
<div class="actions">
    <a href="/papers"><span class="material-symbols-outlined">arrow_back</span></a>
</div> 
<form action="/insertpaper" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o Nome">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Descrição do papel">
    </div>
    <div class="form-control">
        <label for="width">Largura:</label>
        <input type="text" name="width" placeholder="Digite a largura">
    </div>
    <div class="form-control">
        <label for="height">Altuura:</label>
        <input type="text" name="height" placeholder="Digite a altura">
    </div>
    <div class="form-control">
        <label for="color">Cor:</label>
        <input type="text" name="color" placeholder="Digite a cor">
    </div>
    <div class="form-control">
        <label for="grammage">Gramatura:</label>
        <input type="text" name="grammage" placeholder="Digite a gramatura">
    </div>
    <div class="form-control">
        <label for="price">Valor:</label>
        <input type="text" class="form-control" name="price" placeholder="Digite o valor">
    </div>
    <div class="form-control">
        <label for="efficiency">Rendimento:</label>
        <input type="text" name="efficiency" placeholder="Digite o rendimento">
    </div>
    <div class="form-control">
        <label for="provider_id">Fornecedor</label>
        <select name="provider_id">
            <option value="">Selecione o Fornecedor</option>
            {{#each providers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" value="Cadastrar">
</form>
